@use '../styles/_mixins' as *;

/* app.component.scss */
:host {
  width: 100%;
  height: 100%;
  display: block;
}

.app-container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  @include media(lg) {
    max-width: 1200px; // o el ancho que quieras
    margin: 0 auto; // centra
  }

  @include media(xl) {
    max-width: 1400px;
  }
}

header {
  width: 100%;
}

main {
  width: 100%;
  overflow-x: hidden;
}

footer {
  width: 100%;
}
